.item {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
}


.link {
    &:hover, 
    &:active {
        color: #780096;
    }

    &:focus-visible {
        color: #780096;
    }
} 